<section class="" style="background-color: #eee;">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black m-5" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" [formGroup]="userForm" (ngSubmit)="AddNewUser(userForm.value)">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw mt-4"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c">Full Name</label>
                                            <input type="text" id="form3Example1c" required formControlName="FullName"
                                                [ngClass]="{ 'is-invalid': (FullName?.touched || FullName?.dirty) && FullName?.invalid }"
                                                class="form-control" />
                                            <span class="invalid-feedback">
                                                @if(FullName?.errors?.['required']){
                                                <span class="text-danger">Full Name is required</span>
                                                }
                                                @if(FullName?.errors?.['minlength']){
                                                <span class="text-danger">Full Name must be at least 5 characters</span>
                                                }
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw mt-4"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                            <input type="email" id="form3Example3c" class="form-control"
                                                [ngClass]="{ 'is-invalid': (email?.touched || email?.dirty) && email?.invalid }"
                                                formControlName="email" required />
                                            <span class="invalid-feedback">
                                                @if(email?.errors?.['required']){
                                                <span class="text-danger">Email is required</span>
                                                }
                                                @if(FullName?.errors?.['email']){
                                                <span class="text-danger">Email is not valid</span>
                                                }
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw mt-4"></i>
                                            <div data-mdb-input-init class=" form-outline flex-fill mb-0">
                                                <label class="form-label" for="form3Example4c">Your Phone</label>
                                                <input type="text" id="form3Example4c" class="form-control"
                                                    [ngClass]="{ 'is-invalid': (phone?.touched || phone?.dirty) && phone?.invalid }"
                                                    formControlName="phone" required />
                                                <span class="invalid-feedback">
                                                    @if(phone?.errors?.['required']){
                                                    <span class="text-danger">phone is required</span>
                                                    }
                                                    @if(phone?.errors?.['minlength']){
                                                    <span class="text-danger">phone must be at least 11 Number</span>
                                                    }
                                                </span>
                                            </div>
                                    </div>

                                    <div class="" formArrayName="anotherPhone">
                                        @for(phone of anotherPhone.controls;track $index){
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw mt-4"></i>
                                            <div data-mdb-input-init class=" form-outline flex-fill mb-0"
                                                [formGroupName]="$index">
                                                <label class="form-label" for="form3Example4c">Your Another Phone</label>
                                                <input type="text" id="form3Example4c" class="form-control"
                                                    [ngClass]="{ 'is-invalid': (phone?.touched || phone?.dirty) && phone?.invalid }"
                                                    formControlName="phone" />
                                                <span class="invalid-feedback">
                                                    @if(phone?.errors?.['required']){
                                                    <span class="text-danger">phone is required</span>
                                                    }
                                                    @if(phone?.errors?.['minlength']){
                                                    <span class="text-danger">phone must be at least 11 Number</span>
                                                    }
                                                </span>
                                            </div>
                                            <button class="btn btn-danger btn-rounded btn-sm mt-4" type="button" (click)="DeletePhone($index)">Remove</button>

                                        </div>

                                        }
                                    </div>
                                    <button type="button" class="btn btn-primary btn-rounded btn-sm mb-3"
                                        (click)="AddNewPhone()">Add Another Phone</button>


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw mt-4"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4cd">Your Password</label>
                                            <input type="password" id="form3Example4cd" formControlName="password"
                                                [ngClass]="{ 'is-invalid': (password?.touched || password?.dirty) && password?.invalid }"
                                                class="form-control" required/>
                                            <span class="invalid-feedback">
                                                @if(password?.errors?.['required']){
                                                <span class="text-danger">password is required</span>
                                                }
                                                @if(password?.errors?.['minlength']){
                                                <span class="text-danger">password must be at least 6 characters</span>
                                                }
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="form2Example3c" required />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>